body {
	text-align: center;
}

table {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

th, td {
	padding: 8px;
    line-height: 1.42857143;
}

tr:nth-child(even){
	background-color: #ddd;
}