.button{
	display: inline;
}

body {
	background-color: #dad9d4;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#frame {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
}

#header {
	width: 100%;
	background-color: black;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.1;
	color: white;
	padding-left: 20px;
	margin: 0;
	text-align: center;

}

#searcharea {
	text-align: center;
}

input[type=text] {
    height: 30px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=text], select {
	box-sizing: border-box;
}

select {

    height: 30px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#multisearch {
	background-color: buttonface;
}

#submit, .refinebutton {
	background-color: #5bc0de;
	border-color: #46b8da;
}

#submit, #back, #multisearch, .refinebutton, #revertbutton, #refinebutton0, #addButton, #subButton, #selectallbutton {
    padding: 3px 9px;
    margin-bottom: 0;
    line-height: 1.42857143;
    cursor: pointer;
    border-radius: 4px; 
}

#submit, #back, #sentences span, #multisearch, .refinebutton, #revertbutton, #refinebutton0, #addButton, #subButton, #selectallbutton {
	text-align: center;
    vertical-align: middle;
}

#submit, #back, .refinebutton, #addButton, #subButton {
	color: #fff;
}

/
#sentences th, #submit, #back, #multisearch, .refinebutton, #addButton, #subButton, #selectallbutton {
	font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
}

#loadicon {
	display: none;
	margin-top: 100px;
	margin-bottom: 100px;
}

#displayarea {
	text-align: center;
}

#footer {
	background-color: black;
	
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
}

#igt_id, #sentences {
	list-style-type: none;
	margin-top: 0;
}

#igt_id li, #sentences li {
	border: 1px solid #ddd;
	padding: 10px 15px;
}

#igt_id li:hover, #sentences tr:hover {
	cursor: pointer;
}

#igt_id li:hover {
	font-weight: bold;
}

#loadingdiv {
	text-align: center;
}

#loadingicon {
	margin-top: 120px;
	margin-bottom: 120px;
	display: none;
}

.selected {
	color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

#corpus {
	max-width: 200px;
}

#igtlist {
	width: 20%;
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
	display: none;
	overflow
}

#igt {
	width: 70%;
	float: left;
	padding-left: 10px;
}

#igtdisplay {
	overflow: hidden;
}

#back {
	display: none;
	margin-top: 65px;
	cursor: pointer;
	margin-left: 40px;
	background-color: #5cb85c;
    border-color: #4cae4c;
    margin-bottom: 20px;
}

#sentences {
	width: 100%;
	table-layout:fixed;
	border-collapse: collapse;
}

#sentences tr:first-child {
	background-color: #31bc86;
	color: white;
}

#sentences th {
	padding: 10px;
}

#sentences th, #sentences span {
	font-size: 17px;
    font-weight: 400;
    
}

.matched {
	color: #fff;
    background-color: #333;
    border-radius: 3px;
    padding: 2px 2px;
    border: 1px solid transparent;
}

#sentences td {
	font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    word-spacing: 2px;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding-bottom: 7px;
    padding-top: 7px;
    white-space: nowrap;
}

.othermatch {
	border: 1px solid red;
    padding: 1px;
    border-radius: 3px;
}

#sentences td:first-child, #sentences th:first-child {
	width: 9%;
}



#sentences td:nth-child(3){
	width: 80%;
}

#sentences td:nth-child(4), #sentences th:nth-child(4), #sentences td:nth-child(2), #sentences th:nth-child(2){
	width: 2%;
	
}


#sentences td, #sentences td div{
	overflow-x: hidden;
}



.right, .left {
	background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.right {
	background-image: url("../static/rightarrow.svg");
}

.left {
	background-image: url("../static/leftarrow.svg");
}

#sentence tr:hover {
	background-image: none;
}

#sentences td:nth-child(5), #sentences th:nth-child(5) {
	width: 7%;
	text-align: center;
}

#multibuttondiv {
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
}

#extratier:disabled, .refinebuttoncontainer input:disabled {
	background-color: lightgray;
}

#firstformdiv {
	text-align: left;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 15px;
	background-color: #f4f7f8;
}

#secondformdiv {
	margin-top: 50px;
}

.searchbarcontainer label {
	margin-left: 15px;
	margin-right: 5px;
	font-size: 14px;
}




.searchbarcontainer:first-child {
	margin-top: 50px;
}





#controlpanel {
	padding: 10px;
	margin-top: 20px;
}

.buttonspan {
	margin-right: 20px;
	margin-left: 20px;

}

#subButton {
	background-color: #d9534f;
    border-color: #d43f3a;
}

#addButton {
	background-color: #5cb85c;
    border-color: #4cae4c;
}

#selectalldiv {
	text-align: left;
	padding-left: 25px;
	display: none;
} 




#downloaddiv {
	text-align: right;
	padding-right: 25px;
	margin-bottom: 8px;
	background-color: #006666;
	padding: 10px;
	display: none;

}

#searchbardiv {
	margin-top: 50px;
}

.buttonDownload {
	background-image: url("../static/downloadbutton.svg");
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: left;
	background-position-x: 10px;
	display: inline-block;
	position: relative;
	padding: 10px 25px;
  
	background-color: #4CC713;
	color: white;
  
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}



.numofigts {
	text-align: center;
	font-size: 14px;
    font-weight: 200;
    line-height: 1.42857143;
    color: #333;
    margin: 4px;
}

.smallloadingicon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-left: 15px;
	display: none;
}


.imgspan {
	background-image: url("../static/icon.svg");
	display: inline-block;
	width: 20px;
	background-position: center;
	background-repeat: no-repeat;

}

.invisiblematch {
	visibility: hidden;
}

.datadescription {
	margin: 0;
}

#helpdiv {
	text-align: right;
	padding: 5px;
	background-color: #ebebe0;
}

#helpbutton:hover {
	cursor: pointer;
}

#helpinfo {
	margin: 0;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	display: none;

}

#helpinfo h6 {
	font-style: italic;
}

#helpinfo p {
	font-size: 13px;
}

#helpinfo h5 {
	color: #333399;
}

#corpustablebutton:hover {
	cursor: pointer;
}

#corpustablebutton {
	background-color: #4CAF50;
	color: white;
    border: 1px solid black;
    padding: 5px 5px;
    text-align: center;
    font-size: 13px;
    margin-left: 20px;
    border-radius: 4px;
}

#reftable {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    display: none;
}

#reftable th, #reftable td {
	padding: 8px;
    line-height: 1.42857143;
}

#reftable th {
	text-align: center;
}

#reftable tr:nth-child(even){
	background-color: #ddd;
}

#refbuttonloadingicon {
	vertical-align: middle;
	display: none;
}