.button{
	display: inline;
}

body {
	background-color: #dad9d4;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#frame {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
}

#header {
	width: 100%;
	background-color: black;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.1;
	color: white;
	padding-left: 20px;
	margin: 0;
	text-align: center;

}

p {
	font-size: 21px;
	font-weight: 200;
	line-height: 1.42857143;
	color: #333;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;


}



#searcharea {
	text-align: center;
	margin-top: 120px;

}

#words {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 15px;
}

#words, select {
	box-sizing: border-box;
}

select {

    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit {
	background-color: #5bc0de;
	border-color: #46b8da;
}

#submit, #back {
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    cursor: pointer;
    border-radius: 4px; 
}

#submit, #back, #tablediv span {
	text-align: center;
    vertical-align: middle;
    color: #fff;
}

#tablediv th, #tablediv span, #submit, #back {
	font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
}

#loadicon {
	display: none;
	margin-top: 100px;
	margin-bottom: 100px;
}

#displayarea {
	text-align: center;
}

label {
	margin: 0;
}

#footer {
	background-color: black;
	
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
}

#igt_id, #sentences {
	list-style-type: none;
	margin-top: 0;
}

#igt_id li, #sentences li {
	border: 1px solid #ddd;
	padding: 10px 15px;
}
#igt_id li:hover {
	font-weight: bold;
}

#igt_id li:hover, #sentences tr:hover  {
	cursor: pointer;
	
}

#sentences tr:hover {
	background-color: #D3D3D3;
}

#loadingdiv {
	text-align: center;
}

#loadingicon {
	margin-top: 120px;
	margin-bottom: 120px;
	display: none;
}

.selected {
	color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

#corpus {
	max-width: 200px;
}

label[for="tiertype"], label[for="words"] {
	margin-left: 5px;
}

#igtlist {
	width: 20%;
	float: left;
	/*max-height: 600px;*/
	overflow-y: scroll;
	overflow-x: hidden;
	display: none;
	overflow
}

#igt {
	width: 70%;
	float: left;
	padding-left: 10px;
}

#igtdisplay {
	overflow: hidden;
}

#back {
	display: none;
	margin-top: 65px;
	cursor: pointer;
	margin-left: 40px;
	background-color: #5cb85c;
    border-color: #4cae4c;
}

#tablediv table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	table-layout:fixed;
	border-collapse: collapse;
}
#tablediv td {
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    word-wrap:break-word
}

#tablediv span {
	margin-right: 10px;
	border: 1px solid;
	padding: 5px;
	line-height: 2.5;
	background-color: #5bc0de;
	border-color: #46b8da;
}

#tablediv table tr:first-child {
	background-color: DarkGray;
	color: white;
}

#tablediv th {
	padding: 10px;
}

#tablediv th, #tablediv span {
	/*factor out this code*/
	font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
}
