<!DOCTYPE html>
<html>	
	<head>
		<title>Xigt Search</title>
		<script src="../static/search.js" charset="utf-8"></script>
		
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/xigt/xigtviz@master/xigtviz.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript">

			var settings = {
					    "tier_types": {
					        "words": { "class": "interlinear" },
					        "morphemes": { "class": "interlinear" },
					        "glosses": { "class": "interlinear" },
					        "phrases": { "class": "enumeration" },
					        "translations": { "class": "enumeration" },
					        "odin": { "class": "enumeration" },
					        "syntax": { "reference_attributes": ["alignment", "children"] }
					    },
					    "default_tier_class": "",
					    "max_igts_per_page": 10,
					    "reference_attributes": [
					        {"name": "alignment", "style": "background-color: #FFEF88;"},
					        {"name": "segmentation", "style": "background-color: #97FF9B;"},
					        {"name": "content", "style": "background-color: #FF9C99;"}
					    ],
					    "alignment_expression_operators": {
					        "+": "",
					        ",": " "
					    },
					    "show_legend": true,
					    "default_content": "▨"
					}
		</script>
  		<script src="https://cdn.jsdelivr.net/gh/xigt/xigtviz@master/xigtviz.js" charset="utf-8"></script>
  		<link rel="stylesheet" type="text/css" href="../static/searchStyle.css">
  		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	</head>

	<body>
		<div id="frame">
			<h1 id="header">XIGT Search</h1>
			<div id="helpdiv">
				<input type="button" name="helpbutton" value="Help" id="helpbutton" />
				<div id="helpinfo">
					<h5>How to select corpus</h5>
 
					<p>Select a corpus from the drop down menu in the top left corner with the label “Corpus”.</p>
					 
					<h5>How to choose a search type</h5>
					 
					<p>Select one of the options from the drop down menu with the label “Search for”.</p>
					 
					<h5>Different types of searches</h5>

					<h6>Words</h6>
					 
					<p>The search type “words” requires a word to be entered into the text box that is labeled “word”. This search type searches the selected corpus for igts that contain the entered word.</p>
					 
					<h6>Morphemic glosses</h6>
					 
					<p>The search type morphemic glosses requires a gloss to be entered into the text box that is labeled “gloss” and/or a morpheme to be to be entered into the text box that is labeled “morpheme”. This search type searches the selected corpus for the igts that contain the entered gloss and/or entered morpheme. If both a morpheme and a gloss are entered, the morpheme and gloss must be aligned in the igt.</p>
					 
					<h6>Morphemes</h6>
					 
					<p>The search type morphemes requires a word to be entered into the text box that is labeled “word” and/or a morpheme to be to be entered into the text box that is labeled “morpheme”. This search type searches the selected corpus for the igts that contain the entered word and/or entered morpheme. If both a word and morpheme are entered, the word and morpheme must be aligned in the igt.</p>
					 
					<h6>Pos</h6>
					 
					<p>The search type pos requires a word to be entered into the text box that is labeled “word” and/or a part of speech to be to be entered into the text box that is labeled “pos”. This search type searches the selected corpus for the igts that contain the entered word and/or entered part of speech. If both a word and a part of speech are entered, the word and part of speech must be aligned in the igt.</p>
					 
					<h6>Phrases</h6>
					 
					<p>The search type “phrases” requires a phrase to be entered into the text box that is labeled “phrase”. This search type searches the selected corpus for igts that contain the entered phrase.</p>
					 
					<h6>Lexical glosses</h6>
					 
					<p>The search type lexical glosses requires a gloss to be entered into the text box that is labeled “gloss” and/or a word to be to be entered into the text box that is labeled “word”. This search type searches the selected corpus for the igts that contain the entered gloss and/or entered word. If both a gloss and word are entered, the word and gloss must be aligned in the igt.</p>
					 
					<h6>Languages</h6>
					 
					<p>The search type languages requires a language name to be selected from the the drop down menu labeled “language”. This search type searches the selected corpus for igts that contain the selected language name.</p>
						 
					<h5>How to add additional search constraints</h5>
					 
					<p>Press the green button with the text “Add query”. Pressing this button will add a new query row.</p>
					 
					<h5>How to remove search constraints</h5>
					 
					<p>Press the red button with the text “Remove queries”.</p>

				</div>
			</div>
			
			<div id="searcharea">		
				<form id = "searchForm" onsubmit="event.preventDefault(); lookFor(); return false;">
					<div id="firstformdiv">
						<label for="corpus">Corpus:</label>
					    <select id="corpus" name="corpus"></select>	
					    <input type="button" id="corpustablebutton" value="Show corpus code and language code/name reference table"/>
					    <img src="../static/spin.svg" alt="loading icon" id="refbuttonloadingicon" />
					</div>
					<div id="reftablediv">
						<table id="reftable">
							<tr>
								<th>Language Code</th>
								<th>Language Name</th>
								<th>Number of IGTS</th>
								<th>Corpus Code</th>
							</tr>
						</table>
					</div>
					<div id="downloaddiv">
						<a href="#" class="buttonDownload" id="xmldownloadbutton">Download XML</a>
						<a href="#" class="buttonDownload" id="jsondownloadbutton">Download JSON</a>
					</div>
					<div id="selectalldiv">
						<input type="button" value="Select All" id="selectallbutton" />
					</div>
					<div id="searchbarsdiv">
						<div id="controlpanel">
							<span class="buttonspan"><input type="button" id="subButton" value="Remove queries" /></span>
							<span class="buttonspan"><input type="button" id="submit" value="Search" /></span>
							<span class="buttonspan"><input type="button" id="addButton" value="Add query" /></span>
						</div>
					</div>       
				</form>

			</div>
			<div id="resultsarea">
				
				<input id="back" type="button" name="back" value="Go Back" />
				<div>
					<table id="sentences">
						
					</table>
				</div>
				<div id="igtdisplay">
					<div id="igtlist">
						
						<ul id = "igt_id">
							
						</ul>
					</div>

					<div id = "igt"> 
					</div>
				</div>
				<div id="loadingdiv">
					<img  src="../static/icon.svg" alt="loading icon" id="loadingicon" />
				</div>
			</div>
			<div id="errors"></div>
		</div>

	</body>
</html>
